Migrations/
images/

# Visual Studio/ not required
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build output
bin/
obj/

# Cache / DB files
*.db
*.db-shm
*.db-wal
*.dtbcache.v2
*.futdcache.v2

# Local config
appsettings.Development.json
